$primry-color:#242526;
$primry-font-color:#f4f4f2;
$primry-color2:#2a2b2d; /*Color for header, hover & cards*/

/*=====================style Mixin=====================*/
@mixin big_text($text_size:0.8em) {
    font-size: $text_size;
    font-weight: bold;
}

@mixin small_text {
    font-size: small;
    color: #f4f4f255;
}

@mixin center_content($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin position_section($f_direction) {
    float: $f_direction;
    display: flex;
}
@mixin light_box_shadow($bg_color) {
    background-color: $bg_color;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0.1);
}
/*=====================================================*/
/*Some trivial styles*/
*{
    box-sizing: border-box;
}
::selection{
    background-color: #04fe4d33;
}
::-webkit-scrollbar{
    width: 7px;
}  
::-webkit-scrollbar-track{
    border-radius: 5px;
}  
::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background: #f4f4f2aa;
}
/*=====================================================*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #f4f4f2;
    background-color: $primry-color;
    margin: 0;
}
.not-page{
    display: none;
}
/*=========================Main top Header style=========================*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $primry-color2;
    overflow: hidden;
    padding: 20px 200px;
    box-shadow: 0 0 50px 5px rgba(0,0,0,0.1);
    z-index: 5;
}
header .left-section{
    position: relative;
    font-size: large;
    @include position_section($f_direction:left);
}
header .right-section{
    font-size: large;
    @include position_section($f_direction:right);
}
.left-section .logo{
    @include center_content($direction:inherit);//May problem occure
    margin-right: 28px;
    padding-right: 25px;
    border-right: 2px solid rgba(255,255,255,0.1);
    font-size: 1.4em;
}
.left-section div{
    position: relative;
    @include center_content($direction:inherit);//May problem occure
    @include big_text();//May problem occure
}
.left-section div span {
    position: absolute;
    right: -25px;
}
.right-section {
    position: relative;
    @include center_content($direction:inherit);
    @include big_text();
    column-gap: 20px;
} 
.right-section div{
    position: relative;
    @include center_content($direction:inherit);
    @include big_text();
    column-gap: 8px;
} 
.right-section .progress{
    background-color: rgba(43,129,246,0.06);
    border-radius: 50px;
    padding: 3px 8px;
    text-align: left;
}
.right-section .progress span{
    color: #7289da;
}
/*=====================Main Container=====================*/  
.container {
    position: relative;
    display: grid;
    grid-template-columns: 25% 45% 30%;
    top: 100px;
    padding: 10px 170px;
}
.left-nav .left-menu{
    position: fixed;
    @include center_content($direction:column);
    align-items: flex-start;
    vertical-align: middle;
    list-style-type: none;
    @include big_text($text_size:0.7em);
}
.left-menu .left-menu h4{
    @include small_text();
}
.left-nav .left-menu li span{
    margin-right: 12px;
    transform: scale(0.7);
    vertical-align: middle;
}
.left-nav .left-menu .material-icons {
    color: rgba(255,255,255,0.5);
}
.left-nav .left-menu li:nth-child(1){
    padding: 7px;
    width: 200px;
    border-radius: 7px;
    @include light_box_shadow($bg_color:#2a2b2d);
}
.left-nav .left-menu li:not(.m-d){
    margin-bottom: 15px;
    padding: 5px 10px 5px 0;
}
.m-d{
    margin-bottom: 35px; 
}
/*=======================Middle Planner Style=============================*/
.plan-container{
    position: relative;
}  
.plan-container .routine ul{
    list-style-type: none;
    margin: 0;
    padding: 70px 20px 0 7px;
    z-index: 1;
}  
.plan-container .p-header{
    position: fixed;
    top:70px;
    width: 34%;
    @include big_text($text_size:1.1em);
    padding: 55px 5px 15px 5px;
    @include light_box_shadow($bg_color:#242526);
    box-shadow: none;
    z-index: 4;
}
.p-header div{
    float: right;
}
.p-header span{
    margin-right: 12px;
    vertical-align: middle;
}
.schedule{
    padding: 20px 0 25px 0;
    border-top: 1px solid #f4f4f233;
    border-bottom: 1px solid #f4f4f233;
}
.card{
    position: relative;
    padding: 15px 20px;
    margin: 15px 0;
    border-radius: 10px;
    background-image: url('sanchit\ jain.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: right;
    @include light_box_shadow($bg_color:#2a2b2d);
    transition: 0.6s;
}  
.card:hover{
    cursor: pointer;
    box-shadow: 0 0 50px 10px rgba(0,0,0,0);
}
.c_1 span:nth-child(2){
    float: right;
}
.c_3 {
    display: flex;
    align-items: center;
    column-gap: 15px;
}
/*======================Right ScoreBoard Style======================*/
.container .right-container{
    position: relative;
    font-size: 0.8em;
}
.container .right-nav{
    position: fixed;    
}
.group-progress{
    border-radius: 8px;
    padding: 12px 20px;
    @include light_box_shadow($bg_color:#2a2b2d);
}  
.member_states ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}  
.member_states ul li span:not(.prog_time){
    float: right;
    display: flex;
    align-items: center;
    text-align: left;
    padding-bottom: 15px;
}
.member_states i{
    transform: scale(0.7);
}  
.member{
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ffffff44;
}  
.member img{
    position: relative;
    margin-right: 5px;
}  
.member span::after{
    content: '';
    position: absolute;
    margin-left: -14px;
    margin-top: 26px;
    width: 8px;
    height: 8px;
    background-color: #04fe4dcd;
    border-radius: 50%;
} 
.recommend_container{
    position: fixed;
    bottom: 50px;
}  
._bcon{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    @include light_box_shadow($bg_color:#2a2b2d);
    padding: 0px 25px;
    border-radius: 8px;
}
















@media screen and (max-width:1300px) {
    header, .left-section, .planner, .right-section, .container{
      display: none;
    }
  
    .not-page{
        @include center_content($direction:column);
        text-align: center;
        font-size: 2.8em;
        color: #ffffffad;
        line-height: 1.8em;
    }
  }