/*Color for header, hover & cards*/
/*=====================style Mixin=====================*/
/*=====================================================*/
/*Some trivial styles*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background-color: #04fe4d33;
}

::selection {
  background-color: #04fe4d33;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #f4f4f2aa;
}

/*=====================================================*/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f4f4f2;
  background-color: #242526;
  margin: 0;
}

.not-page {
  display: none;
}

/*=========================Main top Header style=========================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2a2b2d;
  overflow: hidden;
  padding: 20px 200px;
  -webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.1);
  z-index: 5;
}

header .left-section {
  position: relative;
  font-size: large;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .right-section {
  font-size: large;
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left-section .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  margin-right: 28px;
  padding-right: 25px;
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  font-size: 1.4em;
}

.left-section div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  font-size: 0.8em;
  font-weight: bold;
}

.left-section div span {
  position: absolute;
  right: -25px;
}

.right-section {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  font-size: 0.8em;
  font-weight: bold;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.right-section div {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: inherit;
  -webkit-box-direction: inherit;
      -ms-flex-direction: inherit;
          flex-direction: inherit;
  font-size: 0.7em;
  font-weight: bold;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.right-section .progress {
  background-color: rgba(43, 129, 246, 0.06);
  border-radius: 50px;
  padding: 3px 8px;
  text-align: left;
}

.right-section .progress span {
  color: #7289da;
}

/*=====================Main Container=====================*/
.container {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 45% 30%;
      grid-template-columns: 25% 45% 30%;
  top: 100px;
  padding: 10px 170px;
}

.left-nav .left-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  vertical-align: middle;
  list-style-type: none;
  font-size: 0.7em;
  font-weight: bold;
}

.left-menu .left-menu h4 {
  font-size: small;
  color: #f4f4f2ad;
}

.left-nav .left-menu li span {
  margin-right: 12px;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  vertical-align: middle;
}

.left-nav .left-menu .material-icons {
  color: rgba(255, 255, 255, 0.5);
}

.left-nav .left-menu li:nth-child(1) {
  padding: 7px;
  width: 200px;
  border-radius: 7px;
  background-color: #2a2b2d;
  -webkit-box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
}

.left-nav .left-menu li:not(.home-plan) {
  margin-bottom: 15px;
  padding: 5px 7px 5px 0px;
  width: 200px;
  border-radius: 7px;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.m-d {
  margin-bottom: 35px;
}

.left-nav .left-menu li:hover:not(.home-plan) {
  background-color: #2a2b2d;
}

/*=======================Middle Planner Style=============================*/
.plan-container {
  position: relative;
}

.plan-container .routine ul {
  list-style-type: none;
  margin: 0;
  padding: 70px 20px 0 7px;
  z-index: 1;
}

.plan-container .p-header {
  position: fixed;
  top: 70px;
  width: 34%;
  font-size: 1em;
  font-weight: bold;
  padding: 55px 5px 15px 5px;
  background-color: #242526;
  -webkit-box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: none;
          box-shadow: none;
  z-index: 4;
}

.p-header div {
  float: right;
}

.p-header span {
  margin-right: 12px;
  vertical-align: middle;
}

.schedule {
  padding: 20px 0 25px 0;
  border-top: 1px solid #f4f4f233;
  border-bottom: 1px solid #f4f4f233;
}

.card {
  position: relative;
  padding: 15px 20px;
  margin: 15px 0;
  border-radius: 10px;
  background-image: url("sanchit jain.png");
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: right;
  background-color: #2a2b2d;
  -webkit-box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.card:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0);
          box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0);
}

.c_1 span:nth-child(2) {
  float: right;
}

.c_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.c_1 span:first-child, .c_2 p {
  font-size: small;
  color: #f4f4f2ad;
}

/*======================Right ScoreBoard Style======================*/
.container .right-container {
  position: relative;
  font-size: 0.8em;
}

.container .right-nav {
  position: fixed;
}

.group-progress {
  border-radius: 8px;
  padding: 12px 20px;
  background-color: #2a2b2d;
  -webkit-box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
}

.member_states ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.member_states ul li span:not(.prog_time) {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
  padding-bottom: 15px;
}

.member_states i {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
}

.member {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ffffff44;
}

.member img {
  position: relative;
  margin-right: 5px;
}

.member span::after {
  content: '';
  position: absolute;
  margin-left: -14px;
  margin-top: 26px;
  width: 8px;
  height: 8px;
  background-color: #04fe4dcd;
  border-radius: 50%;
}

.recommend_container {
  position: fixed;
  bottom: 50px;
}

._bcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  background-color: #2a2b2d;
  -webkit-box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 50px 10px rgba(0, 0, 0, 0.1);
  padding: 0px 25px;
  border-radius: 8px;
}

/*==================Responsive=================*/
@media screen and (max-width: 1300px) {
  header, .left-section, .planner, .right-section, .container {
    display: none;
  }
  .not-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    font-size: 2.8em;
    color: #ffffffad;
    line-height: 1.8em;
  }
}
/*# sourceMappingURL=style.css.map */